
@import 'config/variables';
@import 'config/animations';

// preloading - navbar - messagebox - footer and Shared Parts Code are Here!

body.ltr_template {

    section.message_box {
        left: 30px !important;
        right: unset !important;

        .message {
            padding: 12px 20px 12px 15px;
        }
    }
}

section#preloading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 103;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(255,255,255, .84);
    text-align: center;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;

    .wrapper {
        .spinner {
            width: 58px;
            height: 58px;
            border: 5px solid $pink;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            position: relative;
            animation: pulse 1s linear infinite;
            
            &::after {
                content: '';
                position: absolute;
                width: 58px;
                height: 58px;
                border: 5px solid $pink;
                border-radius: 50%;
                display: inline-block;
                box-sizing: border-box;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                animation: scaleUp 1s linear infinite;
            }
        }
        .text {
            h2 {
                margin-top: 15px;
                margin-bottom: 20px;
                font-size: $font-medium;
            }
            p {
                font-size: $font-very-small;
                color: $dark;
            }
        }
    }
}

section.message_box {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 103;
    top: 30px;
    right: 30px;

    .message {
        margin: 5px;
        padding: 12px 15px 12px 20px;
        background-color: white;
        color: white;
        font-size: $font-small;
        border-radius: 6px;
        position: relative;

        &:hover .glass {
            opacity: 1;
            visibility: visible;
        }

        .glass {
            border-radius: 6px;
            position: absolute;
            inset: 0;
            backdrop-filter: blur(4px);
            background-color: rgba(0,0,0, .5);
            text-align: center;
            cursor: pointer;
            font-size: $font-small;
            padding-top: 14px;
            opacity: 0;
            visibility: none;
            transition: all .3s ease;

            i {
                padding: 0 5px;
            }
        }

        i.message_icon {
            background-color: white;
            border-radius: 50%;
            margin: 0 4px;
        }
    }
    .message--success {
        background-color:  #70b900;

        i.message_icon {
            padding: 7px 5px 3px 5px;
            color: #70b900;
        }
    }
    .message--danger {
        background-color:  rgb(255, 44, 44);

        i.message_icon {
            padding: 5px;
            color: rgb(255, 44, 44);
        }
    }
    .message--warning {
        background-color:  rgb(255, 164, 44);

        i.message_icon {
            padding: 5px;
            color: rgb(255, 164, 44);
        }
    }
    .message--info {
        background-color: rgb(84, 195, 255);

        i.message_icon {
            padding: 7px 9px 5px 10px;
            color: rgb(84, 195, 255);
        }
    }
}

section#megamenu__navbar {
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    padding: 20px !important;
    background-color: $dark;
    z-index: 100;
    display: none;
    flex-direction: row;
    list-style-type: none;

    li.bars_div {
        text-align: left;
        padding: 0 10px;
        display: none;

        a {
            color: white;
        }
        button {
            color: white;
            font-size: 14pt;
            background-color: $dark;
            padding: 0 20px;
        }
    }
    .wrapper {
        max-width: 1105px;
        margin: auto;
        display: flex;
        flex-direction: row;

        li.megamenu__item {

            &:hover div.megamenu__menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px) !important;
            }
    
            & > a { // toggle of mega menu
                color: white;
                padding: 1rem;
                background-color: transparent;
                font-size: $font-medium;
            }
    
            div.megamenu__menu {  // mega menu
                position: absolute;
                top: 67px;
                border-radius: 0 0 5px 5px;
                width: auto !important;
                background-color: $dark;
                z-index: 4;
                height: auto !important;
                padding: 7px;
                overflow: visible;
                transition: all 0.3s ease;
                display: flex;
                flex-direction: row;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-7px);
                max-height: 450px !important;
                overflow-y: auto !important;
    
                &::before {
                    content: '';
                    display: none;
                }                    
    
                .megamenu__menu_ul {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
    
                    .megamenu__wrapper {
                        flex: 1;
                        margin: 6px;
                        min-width: 190px;
                        max-width: 200px;
    
                        & > div {
                            color: white;
                            font-size: 14px;
                            font-weight: normal;
                            background: $light;
                            padding: 5px 10px !important;
                            margin: 0;
    
                            a {
                                transition: all .3s ease;
                                display: block;
                            }
    
                            &:hover {
                                a {color: $pink;}
                            }
                        }
                        ul {
                            padding: 5px;
    
                            li {
                                list-style-type: none;
                                padding: 5px 0;
                                border-bottom: 1px solid #f2f3f4;
    
                                a {
                                    color: white;
                                    display: block;
                                    transition: all .3s ease;
                                    
                                    .fa-chevron-left {
                                        font-size: 8px;
                                        padding: 0 3px;
                                        color: #c5c5c5;
                                        transition: all .3s ease;
                                    }
    
                                    &:hover {
                                        color: $pink;
    
                                        .fa-chevron-left {
                                            transform: translateX(-2px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 100px;
    background-color: $gray;
    color: white;
    width: 100%;
    position: relative;

    .logo__wrapper {
        max-width: 100px;
        margin: auto;
        position: absolute;
        top: -60px;
        left: 50%;
        right: 46.5%;
        a {
            img {
                border-radius: 50%;
                height: 120px;
                padding: 20px;
                background-color: $gray;
            }
        }
    }

    .elements {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 45px 20px 0px 20px;
        max-width: 1100px;
        margin: auto;

        .title {
            margin-top: 50px;
            img {
                min-width: 200px;
                max-width: 240px;
            }
        }
        .links {
            display: flex;
            flex-direction: row;
            margin-top: 50px;
            flex-wrap: wrap;
            justify-content: center;

            ul {
                margin: 10px;
                list-style: none;
                margin-bottom: 50px;

                li {
                    margin-bottom: 6px;

                    a {
                        color: white;
                        transition: all 0.3s ease;
                        
                        .fa-chevron-left {
                            font-size: 8px;
                            padding: 0 3px;
                            color: #c5c5c5;
                            transition: all .3s ease;
                        }
    
                        &:hover {
                            color: $pink;
    
                            .fa-chevron-left {
                                transform: translateX(-2px);
                            }
                        }
                    }
                }
            }
        }
    }

    .copy_text {
        max-width: 1100px;
        margin: auto;
        text-align: center;

        .line {
            background: linear-gradient(90deg, $gray 0%, white 30%, white 70%, $gray 100%);
            height: 3px;
            width: 500px;
            margin: 15px auto 10px auto;
        }
        
        ul {
            margin-top: 10px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 30px;

            li {
                margin: 5px 7px;
                padding: 5px 11px 1px 11px;
                border: 3px solid white;
                border-radius: 13px;
                transition: all .3s ease;

                a {
                    transition: all .3s ease;
                    font-size: 16pt;
                    color: white;
                    display: block;
                }
            }
            li.telegram_icon:hover {
                background-color: white;
                border-color: rgb(26, 202, 255);                
                a {
                    color: rgb(26, 202, 255);
                }
            }
            li.instagram_icon:hover {
                background-color: white;
                border-color: rgb(255, 94, 158);
                a {
                    color: rgb(255, 94, 158);
                }
            }
            li.envelope_icon:hover {
                background-color: white;
                border-color: rgb(233, 66, 66);
                a {
                    color: rgb(233, 66, 66);
                }
            }
            li.fax_icon:hover {
                background-color: white;
                border-color: rgb(178, 178, 178);
                a {
                    color: rgb(178, 178, 178);
                }
            }
        }
        p {
            padding: 14px;
            font-size: $font-small;
            color: $light;
        }
    }
}


// media queries


@media (max-width: 600px) {
    footer .line {
        width: 80% !important;
    }
    footer .elements {
        justify-content: center !important;
    }
    .copy_text p {
        font-size: $font-very-small !important;
    }
    .logo__wrapper {
        right: 36.5% !important;
    }
}

@media (max-width: 1200px) {

    section#megamenu__navbar {
        li.bars_div {
            display: block !important;
        }
        li.megamenu__item {
            display: none !important;
        }
    }
}