@import 'config/variables';

// header and main tag are here !!

header {

    .header__slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;

        .header__image {
            background-size: cover; 
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            width: 100%;
        }
    }

    .header__elements {
        background-color: rgba($color: $dark, $alpha: 0.3);
        height: 100vh;
        width: 100%;

        .container {
            max-width: 1500px;
            margin: auto;
            padding: 20px 20px 0 20px;
            position: relative;

            section.top_of_menu {
                color: white;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                border-bottom: 2px solid white;    
    
                .website_logo {

                    a {
                        display: flex;
                        align-items: center;

                        img {
                            height: 70px;
                            width: 70px;
                        }
                        span {
                            color: white;
                            font-size: $font-xlarge;
                            margin: 0 10px;
                        }
                    }
                }
                .website_option {
                    display: flex;
                    align-items: center;
                    position: relative;

                    .chnage_lang_div {
                        border: 2px solid white;
                        border-radius: 25px;
                        padding: 5px 16px;
                        text-align: center;
                        margin: 0 10px;

                        i {
                            padding-left: 10px;
                        }
                    }

                    ul.chnage_lang_toggle {
                        position: absolute;
                        left: 72px;
                        top: 58px;
                        background-color: white;
                        border-radius: 5px;
                        list-style: none;
                        padding: 10px;
                        width: 100px;
                        text-align: left;

                        a {
                            display: block;
                        }
                    }

                    img {
                        height: 50px;
                        width: 60px;
                    }
    
                }
            }
    
            nav {
                margin-top: 20px;

                ul.megamenu {
                    display: flex;
                    list-style-type: none;
                    position: relative;
                    
                    li.megamenu__item {
        
                        &:hover div.megamenu__menu {
                            opacity: 1;
                            visibility: visible;
                        }
        
                        & > a { // toggle of mega menu
                            color: white;
                            padding: 1rem;
                            background-color: transparent;
                            font-size: $font-medium;
                        }
        
                        div.megamenu__menu {  // mega menu
                            position: absolute;
                            top: 30px;
                            border-radius: 5px;
                            width: auto !important;
                            background-color: white;
                            z-index: 4;
                            height: auto !important;
                            padding: 1rem;
                            overflow: visible;
                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.3s ease;
                            display: flex;
                            flex-direction: row;
        
                            .megamenu__menu_ul {
                                display: flex;
                                flex-direction: column;
                                height: 100%;
        
                                .megamenu__wrapper {
                                    flex: 1;
                                    margin: 10px;
                                    min-width: 190px;
                                    max-width: 200px;
        
                                    & > div {
                                        color: $dark;
                                        font-size: 16px;
                                        font-weight: normal;
                                        background: #f2f3f4;
                                        padding: 5px 10px !important;
                                        margin: 0;
                                        
                                        // a {
        
                                        // }
                                    }
                                    ul {
                                        padding: 5px;
            
                                        li {
                                            list-style-type: none;
                                            padding: 5px 0;
                                            border-bottom: 1px solid #f2f3f4;
            
                                            a {
                                                color: $dark;
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            section.contact_ways {
                position: absolute;
                left: 0px;
                top: 200px;

                div {
                    position: relative;
                    
                    p {
                        position: absolute;
                        left: 0;
                        // top: is set after this property

                        a {
                            color: white;
                            font-size: $font-xlarge;
                            padding: 15px 0;
                        }
                    }
                }
                div:nth-child(1) p { top: 0px; transform: rotate(-90deg) translate(0px, 26px); }
                div:nth-child(2) p { top: 130px; transform: rotate(-90deg) translate(0px, 5px);}
                div:nth-child(3) p { top: 260px; transform: rotate(-90deg) translate(0px, 28px);}
                div:nth-child(4) p { top: 370px; transform: rotate(-90deg) translate(0px, 27px);}
            }

            section.center_buttons {
                position: absolute;
                left: 225px;
                top: 285px;
                text-align: center;

                img {
                    height: 140px;
                    width: 140px;
                    border-radius: 6px;
                }

                div.button_wrapper {
                    background-color: $dark;
                    margin-bottom: 5px;
                    text-align: center;
                    border-radius: 10px;

                    a {
                        color: white;
                        padding: 4px 8px;
                        display: block;
                        font-size: 12pt;
                    }
                }
            }
        }
    }

    .bottom_tringle {
        background-color: white;
        height: 65px;
        margin-top: -64px;
        width: 100%;
        clip-path: polygon(0 0, 70% 0, 75% 65px, 80% 0, 100% 0, 100% 65px, 0 65px); 
    }

}

main {
    position: relative;
	
    .stethoscope_div {
        background: url(../img/stethoscope.png) no-repeat center center / cover;
        height: 620px;
        width: 540px;
        margin-top: -65px;
        position: absolute;
        left: 0;
        top: -56px;
    }

    article {


        .search__header {
            margin-top: 4rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            .line {
                height: 3px;
                width: 20%;
                background-color: $dark;
                border-radius: 25px;
            }
            .text {
                font-size: $font-xlarge;
                margin: 0 10px;
            }
            .link {
                margin: 0 100px;
                background-color: $dark;
                border-radius: 10px;
                padding: 5px 14px;

                a {
                    color: white;
                    font-size: $font-small;

                    i {
                        transform: rotate(-180deg);
                    }
                }
            }
        }

        .container {
            max-width: 1100px;
            margin: 0 auto;
            margin-top: 2rem;

            .search__box {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
    
                img {
                    height: 70px;        
                }
                form {
                    display: flex;
    
                    .inputs_wrapper {
                        display: flex;
                        flex-direction: column;
                        padding-right: 5px;

                        .inputs {
                            position: relative;
                            width: 177px;
                            
                            input {
                                position: absolute;
                                top: 2px;
                                width: 140px;
                                z-index: 3 !important;
                                color: $pink;
                                padding: 5px 10px;
                                border-radius: 5px;
                                background-color: white;
                                font-size: $font-medium;
                            }
                            select {
                                position: absolute;
                                right: 0;
                                width: 170px;
                                z-index: 2 !important;
                                color: $gray;
                                padding: 5px 10px;
                                border-radius: 5px;
                                background-color: white;
                                font-size: $font-medium;

                            }
                        }
                        .selected_item {
                            margin-top: 45px;
                            color: $dark;

                            p {
                                padding: 0 14px;
                            }
                        }
                    }

                    .vertical_line {
                        margin-top: 16px;
                        height: 40px; 
                        width: 2px; 
                        border-radius: 15px;
                        background: linear-gradient(180deg, white 0%, $pink 30%, $pink 70%, white 100%);
                    }
    
                    .link {
                        margin: 0 10px;
        
                        button {
                            background-color: $dark;
                            border-radius: 10px;
                            padding: 5px 14px;
                            color: white;
                            font-size: $font-small;
                        }
                    }
                }
            }
        }
    }

} 