@import 'config/variables';

// header and main tag are here !!

header {

    .header__slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;

        .header__image {
            background-size: cover; 
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            width: 100%;
        }
    }

    .header__elements {
        background-color: rgba($color: $dark, $alpha: 0.3);
        box-shadow: inset 0px 0px 110px 42px rgba($dark ,1);
        height: 100vh;
        width: 100%;

        .container {
            max-width: 1500px;
            margin: auto;
            padding: 20px 20px 0 20px;
            position: relative;

            section.top_of_menu {
                color: white;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                border-bottom: 2px solid white;    
    
                .website_logo {

                    a {
                        display: flex;
                        align-items: center;

                        img {
                            height: 70px;
                            width: 70px;
                        }
                        span {
                            color: white;
                            font-size: $font-xlarge;
                            margin: 0 10px;
                        }
                    }
                }
                .website_option {
                    display: flex;
                    align-items: center;
                    position: relative;

                    .chnage_lang_div {
                        border: 2px solid white;
                        cursor: pointer;
                        border-radius: 25px;
                        padding: 5px 16px;
                        text-align: center;
                        margin: 0 10px;

                        i {
                            padding-left: 10px;
                        }
                    }

                    ul.chnage_lang_toggle {
                        position: absolute;
                        left: 72px;
                        top: 58px;
                        background-color: white;
                        border-radius: 5px;
                        list-style: none;
                        padding: 10px;
                        width: 100px;
                        text-align: left;
                        z-index: 10;

                        li {

                            a {
                                display: block;
                                color: $gray;
    
                                &:hover { color: $pink; }
                            }
                        }
                    }

                    img.image_search {
                        cursor: pointer;
                        height: 49px;
                        width: 59px;
                    }
                    form.search_bar {

                        .form_wrapper {
                            position: relative;
                            border-radius: 25px 0 0 25px;
                            margin-right: 24px;

                            input {
                                border: 2px solid white;
                                cursor: pointer;
                                border-radius: 25px 0 0 25px;
                                padding: 9px 16px;
                                text-align: right;
                                border-right: unset;
                                background-color: rgba(#ccc, .6);
                            }
                            button {
                                position: absolute;
                                right: -23px;
                                top: 0px;
                                border: 2px solid white;
                                cursor: pointer;
                                border-radius: 0 25px 25px 0;
                                padding: 9px 10px;
                                padding-left: 0;
                                text-align: right;
                                border-left: unset;
                                background-color: rgba(#ccc, .6);

                                i {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
    
            nav {
                margin-top: 20px;

                ul.megamenu {
                    display: flex;
                    list-style-type: none;
                    position: relative;
                    
                    li.megamenu__item {
        
                        &:hover div.megamenu__menu {
                            opacity: 1;
                            visibility: visible;
                        }
        
                        & > a { // toggle of mega menu
                            color: white;
                            padding: 1rem;
                            background-color: transparent;
                            font-size: $font-medium;
                        }
        
                        div.megamenu__menu {  // mega menu
                            position: absolute;
                            top: 40px;
                            border-radius: 5px;
                            width: auto !important;
                            background-color: white;
                            z-index: 4;
                            height: auto !important;
                            padding: 7px;
                            overflow: visible;
                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.3s ease;
                            display: flex;
                            flex-direction: row;

                            &::before {
                                content: '';
                                height: 0;
                                width: 0;
                                position: absolute;
                                top: -9px;
                                right: 22px;
                                border-left: 10px solid rgba(0,0,0,0);
                                border-right: 10px solid rgba(0,0,0,0);
                                border-bottom: 10px solid white;
                            }                    
        
                            .megamenu__menu_ul {
                                display: flex;
                                flex-direction: column;
                                height: 100%;
        
                                .megamenu__wrapper {
                                    flex: 1;
                                    margin: 6px;
                                    min-width: 190px;
                                    max-width: 200px;
        
                                    & > div {
                                        color: $dark;
                                        font-size: 14px;
                                        font-weight: normal;
                                        background: #f2f3f4;
                                        padding: 5px 10px !important;
                                        margin: 0;

                                        a {
                                            transition: all .3s ease;
                                            display: block;
                                        }

                                        &:hover {
                                            a {color: $pink;}
                                        }
                                    }
                                    ul {
                                        padding: 5px;
            
                                        li {
                                            list-style-type: none;
                                            padding: 5px 0;
                                            border-bottom: 1px solid #f2f3f4;
            
                                            a {
                                                color: $dark;
                                                display: block;
                                                transition: all .3s ease;
                                                
                                                .fa-chevron-left {
                                                    font-size: 8px;
                                                    padding: 0 3px;
                                                    color: #c5c5c5;
                                                    transition: all .3s ease;
                                                }

                                                &:hover {
                                                    color: $pink;

                                                    .fa-chevron-left {
                                                        transform: translateX(-2px);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            section.contact_ways {
                position: absolute;
                left: 0px;
                top: 200px;

                div {
                    position: relative;
                    
                    p {
                        position: absolute;
                        left: 0;
                        // top: is set after this property

                        a {
                            color: white;
                            font-size: $font-xlarge;
                            padding: 15px 0;
                        }
                    }
                }
                div:nth-child(1) p { top: 0px; transform: rotate(-90deg) translate(0px, 26px); }
                div:nth-child(2) p { top: 130px; transform: rotate(-90deg) translate(0px, 5px);}
                div:nth-child(3) p { top: 260px; transform: rotate(-90deg) translate(0px, 28px);}
                div:nth-child(4) p { top: 370px; transform: rotate(-90deg) translate(0px, 27px);}
            }

            section.center_buttons {
                position: absolute;
                left: 225px;
                top: 285px;
                text-align: center;

                img {
                    height: 140px;
                    width: 140px;
                    border-radius: 6px;
                }

                div.button_wrapper {
                    background-color: $dark;
                    margin-bottom: 5px;
                    text-align: center;
                    border-radius: 10px;

                    a {
                        color: white;
                        padding: 4px 8px;
                        display: block;
                        font-size: 12pt;
                    }
                }
            }
        }
    }

    .bottom_tringle {
        background-color: white;
        height: 65px;
        margin-top: -64px;
        width: 100%;
        clip-path: polygon(0 0, 70% 0, 75% 65px, 80% 0, 100% 0, 100% 65px, 0 65px); 
    }

}

main {
    position: relative;
	
    .stethoscope_div {
        background: url(../img/stethoscope.png) no-repeat center center / cover;
        height: 620px;
        width: 540px;
        margin-top: -65px;
        position: absolute;
        left: 0;
        top: -56px;
    }

    article {


        .search__header {
            margin-top: 4rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            .line {
                height: 3px;
                width: 20%;
                background-color: $dark;
                border-radius: 25px;
            }
            .text {
                font-size: $font-xlarge;
                margin: 0 10px;
            }
            .link {
                margin: 0 100px;
                background-color: $dark;
                border-radius: 10px;
                padding: 5px 14px;

                a {
                    color: white;
                    font-size: $font-small;

                    i {
                        transform: rotate(-180deg);
                    }
                }
            }
        }

        .container_1 {
            max-width: 1100px;
            margin: 0 auto;
            margin-top: 2rem;

            .search__box {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
    
                img {
                    height: 70px;        
                }
                form {
                    display: flex;
    
                    .inputs_wrapper {
                        display: flex;
                        flex-direction: column;
                        padding-right: 5px;

                        .inputs {
                            position: relative;
                            width: 177px;
                            
                            input {
                                position: absolute;
                                top: 2px;
                                width: 140px;
                                z-index: 3 !important;
                                color: $pink;
                                padding: 5px 10px;
                                border-radius: 5px;
                                background-color: white;
                                font-size: $font-medium;
                            }
                            select {
                                position: absolute;
                                right: 0;
                                width: 170px;
                                z-index: 2 !important;
                                color: $gray;
                                padding: 5px 10px;
                                border-radius: 5px;
                                background-color: white;
                                font-size: $font-medium;

                            }
                        }
                        .selected_item {
                            margin-top: 45px;
                            color: $dark;

                            p {
                                padding: 0 14px;
                            }
                        }
                    }

                    .vertical_line {
                        margin-top: 16px;
                        height: 40px; 
                        width: 2px; 
                        border-radius: 15px;
                        background: linear-gradient(180deg, white 0%, $pink 30%, $pink 70%, white 100%);
                    }
    
                    .link {
                        margin: 0 10px;
        
                        button {
                            background-color: $dark;
                            border-radius: 10px;
                            padding: 5px 14px;
                            color: white;
                            font-size: $font-small;
                        }
                    }
                }
            }

            .doctors__wrapper {
                margin-top: 80px;

                .doctors__gallery {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    .gallery_image {
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        background-color: $pink;
                        height: 440px;
                        width: 300px;
                        border-radius: 135px;

                        .gallery__info {
                            margin-top: 418px;
                            max-width: 200px;
                            margin-right: 24px;
                            position: relative;

                            .skill {
                                margin-right: 18px;
                                color: $dark;
                                background-color: white;
                                box-shadow: 0 0 4px 0px $dark;
                                border-radius: 0 15px 0 0;
                                text-align: center;
                                padding: 1px 0;
                                font-size: $font-very-small;
                            }
                            .name {
                                color: white;
                                background-color: $dark;
                                border-radius: 15px;
                                text-align: center;
                                padding: 3px;
                                font-size: $font-medium;
                            }
                            .counter {
                                position: absolute;
                                left: -39px;
                                top: -6px;                            
                                color: white;
                                background-color: $dark;
                                border: 1px solid white;
                                border-radius: 50%;
                                text-align: center;
                                padding: 17px;
                                font-size: $font-medium;
                            }
                        }

                        &--prev {
                            z-index: 2;
                            margin-left: -120px;
                            opacity: 0.6;
                            height: 385px;
                            width: 245px;
                            & .gallery__info { display: none; }
                        }
                        &--center {
                            z-index: 3;
                        }
                        &--next {
                            z-index: 2;
                            margin-right: -120px;
                            opacity: 0.6;
                            height: 385px;
                            width: 245px;
                            & .gallery__info { display: none; }
                        }
                    }
                }
            }

            .gallery__more {
                margin-top: -11px;
                display: flex;
                justify-content: space-around;

                .reservation {
                    display: flex;
                    align-items: center;

                    .line {
                        height: 5px;
                        width: 160px;
                        background: url(../img/line.png) no-repeat center center /cover;
                    }
                    div {

                        a {
                            color: white;
                            background-color: $dark;
                            border-radius: 15px;
                            text-align: center;
                            padding: 4px 9px;
                            display: block;
                            font-size: $font-small;
                        }
                    }
                }
                .more_info {
                    display: flex;
                    align-items: center;

                    .line {
                        height: 5px;
                        width: 160px;
                        background: url(../img/line-ltr.png) no-repeat center center /cover;
                    }
                    div {

                        a {
                            color: white;
                            background-color: $dark;
                            border-radius: 15px;
                            text-align: center;
                            padding: 4px 9px;
                            display: block;
                            font-size: $font-small;
                        }
                    }
                }
            }

            .three__elements {
                margin-top: 100px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                .one_element {
                    margin: 0 20px;
                    text-align: center;

                    img {
                        height: 160px;
                    }
                    h1 {
                        color: black;
                    }
                    h3 {
                        color: black;
                        font-size: $font-very-small;
                        margin-top: 10px;
                    }
                    p a {
                        color: $gray;
                    }
                } 
            }
        }

        .more__services {
            margin-top: 10rem;
            background-color: $pink;
            text-align: center;
            position: relative;

            .gallery__header {
                position: absolute;
                top: -38px;
                left: 0;
                right: 0;
                font-size: $font-xlarge;
                padding: 10px 20px;
                background-color: white;
                border-radius: 25px;
                max-width: 230px;
                margin-left: auto;
                margin-right: auto;
            }
            
            .gallery__services {
                max-width: 1100px;
                margin: auto;
                padding: 2rem;
                padding-top: 5rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: relative;
                

                .gallery__item {
                    margin: 0 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;

                    a {

                        img {
                            border-radius: 50%;
                            height: 170px;
                            width: 170px;
                            box-shadow: 0 0 4px 0px $dark;

                        }
                        p {
                            margin-top: 5px;
                            color: white;
                            font-size: $font-medium;
                        }
                    }
                }

                .owl-nav {
                    
                    button.owl-prev, button.owl-next {
                        padding: 0 17px  !important;
                        background-color: $dark !important;
                        border-radius: 50%;

                        span {
                            color: white;
                            font-size: 20pt !important;

                        }
                    }
                    button.owl-prev {
                        position: absolute;
                        top: 125px;
                        right: -45px;
                    }
                    button.owl-next {
                        position: absolute;
                        top: 125px;
                        left: -45px;
                    }
                }
            }
        }

        .container_2 {
            max-width: 1100px;
            margin: auto;
            margin-top: 8rem;

            .blogs__wrapper {
                .header {
                    font-size: $font-xlarge;
                    text-align: center;
                }
    
                .gallery__blogs {
                    display: flex;
                    padding: 20px 0;
                    position: relative;
    
                    .gallery__item {
                        flex: 1;
                        margin: 10px 15px;
                        box-shadow: $shadow;
                        border-radius: 15px;
                        height: 410px !important;
    
                        .blog__image {
                            background-size: cover; 
                            background-repeat: no-repeat;
                            background-position: center;
                            height: 230px;
                            width: auto;
                            border-radius: 15px 15px 0 0;
                            border-bottom: 2px solid #ccc;
                        }
                        .blog__header {
                            text-align: center;
                            box-shadow: 0 2px 10px 0px #ccc;
                            border-radius: 25px;
                            width: 65%;
                            margin: auto;
                            margin-top: -19px;
                            background-color: white;
                            padding: 4px 0;
                        }
                        .blog__text {
                            padding: 10px 15px;
                            color: $gray;
                            font-size: $font-small;
                            text-align: justify;
                        }
                        .blog__link {
                            padding: 10px;
                            text-align: left;
                            padding-bottom: 15px;
    
                            a {
                                color: white;
                                background-color: $dark;
                                border-radius: 25px;
                                padding: 5px 20px;
                                font-size: $font-small;
                            }
                        }
                    }
    
                    .owl-nav {
                        button.owl-prev, button.owl-next {
                            padding: 0 12px  !important;
                            background-color: $pink !important;
                            border-radius: 50%;
    
                            span {
                                color: white;
                                font-size: 14pt !important;
                            }
                        }
                        button.owl-prev {
                            position: absolute;
                            bottom: -42px;
                            right: 437px;
                        }
                        button.owl-next {
                            position: absolute;
                            bottom: -42px;
                            left: 445px;
                        }
                    }
    
                    .owl-dots {
                        position: absolute;
                        left: 49%;
                        margin-left: -50px;
                        bottom: 1%;
                        margin-bottom: -50px;
    
                        button.owl-dot {
    
                            
                            span {
                                width: 20px;
                                height: 20px;
                                margin: 5px 3px;
                                background: white;
                                display: block;
                                transition: opacity .2s ease;
                                border-radius: 30px;
                                border: 4px solid $pink;
                            }
                        }
                        button.active {
    
                            span {
                                width: 20px;
                                height: 20px;
                                margin: 5px 3px;
                                background: $pink;
                                display: block;
                                transition: opacity .2s ease;
                                border-radius: 30px;
                                border: 4px solid $pink;
                            }
                        }
                    }
                }
            }

            .map__wrapper {
                margin-top: 12rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;


                .textbox {
                    flex: 1;
                    text-align: center;
                    min-width: 300px;

                    h1 {
                        font-size: $font-xlarge;
                    }
                    p {
                        margin-top: 7px;
                        color: $gray;
                        font-size: $font-medium;
                    }
                    div {
                        background-color: $dark;
                        max-width: 213px;
                        margin: auto;
                        margin-top: 25px;
                        border-radius: 25px;
                        padding: 3px 0;

                        a {
                            display: block;
                            font-size: $font-xlarge;
                            color: white;
                        }
                    }
                }
                img {
                    flex: 1;
                    min-width: 200px;
                }
            }

            .insurances_wrapper {
                margin-top: 7rem;

                .insurance__gallery {
                    display: flex;
                    padding: 20px 0;
                    position: relative;
                    
                    .insurance__item {
                        flex: 1;
                        margin: 10px 15px;

                        img {
                            height: 140px;
                            width: auto;
                            filter: grayscale(1);
                            transition: all 0.3s ease;

                            &:hover {
                                filter: grayscale(0);
                            }
                        }
                    }

                    .owl-nav {
                    
                        button.owl-prev, button.owl-next {
                            padding: 0 17px  !important;
                            background-color: $pink !important;
                            border-radius: 50%;
    
                            span {
                                color: white;
                                font-size: 20pt !important;
    
                            }
                        }
                        button.owl-prev {
                            position: absolute;
                            top: 75px;
                            right: -90px;
                        }
                        button.owl-next {
                            position: absolute;
                            top: 75px;
                            left: -90px;
                        }
                    }
                }
            }
        }
    }

} 