
// Colors
$pink: #E5989B;
$dark: #434D59;
$gray: #6C606A;
$light: #D1CED1;

// shadow
$shadow: 0 0 10px 0px #ccc;

// font sizes
$font-very-small: 8pt;
$font-small: 11pt;
$font-medium: 13pt;
$font-large: 15pt;
$font-xlarge: 20pt;
$font-xxlarge: 25pt;
$font-xxxlarge: 30pt;