
// Colors
$pink: #E5989B;
$dark: #434D59;
$gray: #6C606A;
$light: #D1CED1;

// shadow
$shadow: -5px 5px 30px 0px rgba(158, 158, 158, 0.3);

// font sizes
$font-very-small: 8pt;
$font-small: 10pt;
$font-medium: 13pt;
$font-large: 15pt;
$font-xlarge: 20pt;
$font-xxlarge: 25pt;
$font-xxxlarge: 30pt;